<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432367631112-d94elddf7317v6og2ng7ttm56jnnubod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432367631112-d94elddf7317v6og2ng7ttm56jnnubod</string>
	<key>API_KEY</key>
	<string>AIzaSyALagkPS84eeWXHBdKuk9HJIfYSGgDBtDI</string>
	<key>GCM_SENDER_ID</key>
	<string>432367631112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.methawee.PMLTimes</string>
	<key>PROJECT_ID</key>
	<string>pmltimes-4439b</string>
	<key>STORAGE_BUCKET</key>
	<string>pmltimes-4439b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432367631112:ios:3c7987e05a7fb8fffc8abd</string>
</dict>
</plist>