<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PMLTimes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F6F2DFB27D3566000ACCC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6F2E1127D3566200ACCC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6F2E1B27D3566200ACCC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
